p {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

iframe {
    width:750px;
    height:400px;
}

.jumbotron {
    background-color: #C1DBE3;
}

small {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
}

img {
    height:290px;
    width:100%;
    border-radius:10px;
    border-color: #BCD39C;
}

body {
    background-color: #C7DFC5;
}

.head {
    font-weight: bold;
    font-size:28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.graph {
    font-size:15px;
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head {
    margin-top: 15px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
}

.content {
    background-color:#C1DBE3;
    border-bottom: solid 5px black;
    border-top: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
}