.jumbotron {
    background-color: #c1dbe3;
    font-family: "Times New Roman", Times, serif;
}

.jumbotron h1 {
    color:#6D98BA 
}

img {
    width:100%;
    height:480px;
    border-radius:5%;
}


.about {
    color:#ffffff;
    font-family: "Times New Roman", Times, serif;
}

body {
    background-color: #F7F9F9;
}

p {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
