iframe {
    width:750px;
    height:400px;
}

.jumbotron {
    background-color: #c1dbe3;
    font-family: "Times New Roman", Times, serif;
}

small {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

p {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
