body {
    background: url("https://cdn.pixabay.com/photo/2022/05/23/19/28/field-7217003_1280.jpg");
}

iframe {
    width:1000px;
    height:400px;
}

.jumbotron {
    background-color: #c1dbe3;
    font-family: "Times New Roman", Times, serif;
    border-radius: 2%;
}

small {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #6D98BA;
}

li {
    color: #F7F9F9;
}
span {
    color: #47634e;
}

p {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color:#6D98BA;
}

.panel-heading {
    background-color:#47634e;
}
